/* This stylesheet is for the core parts of the Wave Extensions
 * Gallery UI layout and their basic appearances.
 */

@charset "UTF-8";

html {
	height:100%;
}
html * {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
body {
	min-height: 100%;
	position: relative;
	margin: 0;
	padding: 24px;
	padding-top: 88px; /* 64px action bar + 24px padding */
	
	background-color: #EEEEEE;
}

.toolbar > button > img,
.toolbar > *[role="button"] > img {
	width: 32px;
	height: 32px;
}

#header {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 64px;
	padding: 16px 24px;
	
	white-space: nowrap;
	
	background-color: #ff5722;
	color: white;
	
	/* Keep the header on top of other fixed elements */
	z-index: 3;
}
	#header h1 {
		display: inline-block;
		margin: 0 16px;
		font-size: 24px;
		font-weight: normal;
	}
	#header form {
		margin: -2px 14px;
		vertical-align: baseline;
	}
#listsPane {
	display: block;
	position: fixed;
	left: 0;
	width: 256px;
	top: 64px;
	bottom: 0;
	
	overflow: auto;
	
	background-color: white;
	
	z-index: 2;
}

#songsPane {
	display: block;
	position: fixed;
	left: 256px;
	right: 0;
	top: 64px;
	bottom: 0;
	padding: 8px;
	
	overflow: auto;
	
	background-color: white;
	
	z-index: 1;
}

/*#controlsPane {
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 64px;
	
	overflow: auto;
	
	background-color: white;
	
	text-align: center;
	
	z-index: 2;
}*/
