<div id="listsPane" class="z1">
	<div class="toolbar">
		<button id="newListButton" title="New playlist" style="float: right;">
			<img src="/static/images/icons/plus.png" alt="New playlist" />
		</button>
		Playlists
	</div>
	<ul id="listList" class="list">
	</ul>
</div>
<div id="songsPane" style="display: none;">
	<div class="toolbar">
		<button id="newSongButton" title="Add song" style="float: right;">
			<img src="/static/images/icons/plus.png" alt="Add song" />
		</button>
		<span id="listTitle"></span>
	</div>
	<ul id="songList" class="list">
	</ul>
</div>
<div id="usersPane" class="z1" style="display: none;">
	<div class="toolbar">
		Shared with
	</div>
	<ul id="userList" class="list">
	</ul>
</div>
<!--<div id="controlsPane" class="toolbar z2">
</div>-->

<script type="text/javascript" src="/static/scripts/app.js"></script>